{% extends 'base.html.twig' %}

{% block title %}Hello VehicleController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Devices</h1>
                <table class="table table-hover table-dark">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for device in devices  %}
                        <tr>
                            <th scope="row">{{ device.id }}</th>
                            <td>{{ device.name }}</td>
                            <td>Some actions</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>Add device</h1>
                {{ form_start(form) }}
                    <div class="form-floating mb-3">
                        {{ form_widget(form.name) }}
                        {{ form_label(form.name) }}
                    </div>
                    <hr>
                    <div class="form-floating mb-3">
                        {{ form_widget(form.authentication_token) }}
                        {{ form_label(form.authentication_token) }}
                    </div>
                    <hr>
                    {{ form_widget(form.vehicle) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
