{% extends 'base.html.twig' %}

{% block title %}Vehicles{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Vehicles</h1>
                {% if is_mobile %}
                    {% include 'vehicle/vehicles_table_mobile.html.twig.twig' with {'vehicles': vehicles} %}
                {% else %}
                    {% include 'vehicle/vehicles_table.html.twig' with {'vehicles': vehicles} %}
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h1>Add vehicles</h1>
                {{ form_start(form) }}
                <div class="form-floating mb-3">
                    {{ form_widget(form.type) }}
                    {{ form_label(form.type) }}
                </div>
                <div class="form-floating mb-3">
                    {{ form_widget(form.make) }}
                    {{ form_label(form.make) }}
                </div>
                <div class="form-floating mb-3">
                    {{ form_widget(form.model) }}
                    {{ form_label(form.model) }}
                </div>
                <div class="form-floating mb-3">
                    {{ form_widget(form.year) }}
                    {{ form_label(form.year) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <hr>
    </div>
{% endblock %}
