{% extends 'base.html.twig' %}

{% block title %}Vehicles{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Vehicles</h1>
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Make</th>
                            <th scope="col">Model</th>
                            <th scope="col">Year</th>
                            <th scope="col">Type</th>
                            <th scope="col"></th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for vehicle in vehicles  %}
                        <tr>
                            <th scope="row">{{ vehicle.id }}</th>
                            <td>{{ vehicle.make }}</td>
                            <td>{{ vehicle.model }}</td>
                            <td>{{ vehicle.year }}</td>
                            <td>{{ vehicle.type }}</td>
                            <td>
                                {% if vehicle.devices is empty %}
                                    <i title="No device assigned to this vehicle" class="bi bi-exclamation-triangle-fill"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if vehicle.devices is not empty %}
                                    <a style="cursor: pointer; color: inherit" href="{{ path('app_track_vehicles', {'id': vehicle.id}) }}" class="bi bi-activity" title="Check {{ vehicle.make }}, {{ vehicle.model }} data"></a>
                                    <a style="cursor: pointer; color: inherit" href="{{ path('app_delete_vehicles', {'id': vehicle.id}) }}" title="Delete vehicle" class="bi bi-trash"></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>Add vehicles</h1>
                {{ form_start(form) }}
                    {{ form_widget(form.type) }}
                <hr>
                <div class="form-floating mb-3">
                    {{ form_widget(form.make) }}
                    {{ form_label(form.make) }}
                </div>
                <hr>
                <div class="form-floating mb-3">
                    {{ form_widget(form.model) }}
                    {{ form_label(form.model) }}
                </div>
                <hr>
                <div class="form-floating mb-3">
                    {{ form_widget(form.year) }}
                    {{ form_label(form.year) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
