{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
    <script type="application/json" id="mercure-url">
        {{ mercure('/vehicle_data')|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }}
    </script>
    <div class="container">
        <div class="row">
            <h3>Current data</h3>
            <div style="font-size: 50px" class="col-6">
                <span id="speed">{{ current_speed }}</span><span> km/h @</span>
                <span id="rpm">{{ current_rpm }}</span><span> rpm</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <h3>Data chart</h3>
            <div class="col-6">
                {{ render_chart(speedChart, {'data-controller': 'vehicle', 'data-vehicle-id':  vehicle_id, 'data-data-type' : 'speed'}) }}
            </div>
            <div class="col-6">
                {{ render_chart(rpmChart, {'data-controller': 'vehicle', 'data-vehicle-id':  vehicle_id, 'data-data-type': 'rpm'}) }}
            </div>
        </div>
    </div>

{% endblock %}
